# Executable
cub3D
a.out

# Object files
*.o
objs/

# Library files
*.a
libft/libft.a

# MLX build files
minilibx-linux/obj/
minilibx-linux/libmlx.a
minilibx-linux/libmlx_Linux.a
minilibx-linux/test/mlx-test
minilibx-linux/makefile.gen
minilibx-linux/test/makefile.gen

# Editor files
.vscode/
*.swp
*.swo
*~

# System files
.DS_Store
Thumbs.db

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Core dumps
core
*.core
